@charset "UTF-8";

/* Указываем box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: Arial,  sans-serif;
}

.stemplen__container {
  max-width: 424px;
  margin: 0 auto;
  padding: 0 25px;
}

.page {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.page.active {
  opacity: 1;
  z-index: 994;
  overflow: visible;
}

.stemplen__sub-title {
  font-size: 16px;
  color: grey;
  font-weight: 400;
}

.burger__page {
  padding-top: 50px;
}

.header {
  z-index: 1003;
  position: fixed;
  width: 100vw;
}

.header__inner {
  position: relative;
  z-index: 1000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  height: 16px;
  width: 20px;
  display: block;
  transition-duration: 0.5s;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #443920;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #443920;
  top: 50%;
  margin-top: -2px;
}

.header__burger.active {
  display: none;
}

.header__logo {
  width: 135px;
  cursor: pointer;
}

.header {
  z-index: 995;
}

.header__menu {
  position: absolute;
  left: -85%;
  width: 85vw;
  height: 100vh;
  background-color: #F9F3B7;
  transition-duration: 0.5s;
  padding: 0 15px;
  z-index: 2000;
}

.header__menu.active {
  left: 0;
}

.header__menu .header__logo {
  width: 135px;
}

.header .header__menu .header__logo {
  width: 35px;
}

.header__logo {
  margin-right: 20px;
}

.header__list {
  padding-top: 30px;
}

.header__list li {
  border-bottom: 2px solid grey;
  position: relative;
  cursor: pointer;
}

.header__list li::after {
  position: absolute;
  content: '';
  background-image: url("../img/arrkey.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 40px;
  top: 18px;
  right: 10px;
}

.header__link {
  text-decoration: none;
  color: #21212A;
  width: 100%;
  display: block;
  padding: 10px 0;
}

.header__menu-del {
  width: 35px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 2001;
}

.header__menu-del.active {
  opacity: 1;
  right: -50px;
}

.header .header-arrow {
  width: 17px;
  cursor: pointer;
}

.header .header-arrow.active {
  display: block;
}

.menu-logo img {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #EEEEF0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.footer__logo {
  width: 30px;
  cursor: pointer;
}

.footer__button {
  border: none;
  text-transform: uppercase;
  width: 85px;
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  background-color: rebeccapurple;
  transform: translateY(-10px);
  color: #fff;
  cursor: pointer;
  background: linear-gradient(0deg, #ff7649, #ff9653);
}

.card {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.card.active {
  display: block;
}

.card__header-inner {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: 0 4px 4px -4px #333;
  padding: 0 15px;
  margin-top: 50px;
}

.card__logo {
  margin-bottom: 15px;
}

.card__logo-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E3394F;
  height: 200px;
  margin-top: 50px;
}

.card__logo-img {
  max-width: 200px;
}

.card__info-sub-title {
  text-align: center;
  margin: 0;
}

.card__info-title {
  text-align: center;
  margin-bottom: 50px;
}

.card__info-img-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-bottom: 30px;
}

.card__info-text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.main__slider {
  max-width: 425px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.main__swip-slide {
  width: 100%;
}

.main__swip-slide-container {
  width: 100%;
}

.main__logo {
  margin-bottom: 50px;
}

.main__logo-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.main__logo-img {
  border-radius: 15px;
}

.main__wrapper.active {
  height: 100vh;
  overflow: hidden;
}

.slider__wrapper {
  display: none;
}

.slider__wrapper.active {
  display: block;
}

.info__logo {
  width: 200px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.info__setting-inner {
  display: flex;
}

.info__setting-inner + .info__setting-inner {
  margin-top: 10px;
}

.info__setting-img {
  margin-right: 5px;
  width: 17px;
}

.info__setting-text {
  color: grey;
  font-size: 12px;
}

.stemple__set-title {
  font-weight: 500;
  color: #6B6861;
}

.info__set-title-inner {
  margin-bottom: 25px;
}

.info__stock {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px 0;
  margin-bottom: 25px;
}

.info__stock-text {
  font-size: 12px;
  font-weight: 600;
}

.info__use {
  margin-bottom: 50px;
}

.info__use-li {
  font-size: 12px;
  font-weight: 600;
}

.info__title-inner {
  display: flex;
  align-items: center;
}

.info__title-img {
  width: 20px;
  margin-right: 6px;
}

.profil .stemplen__sub-title {
  margin-bottom: 15px;
}

.profil__info-block {
  padding: 17px 0;
  border-bottom: 1px solid black;
}

.profil__info-block:first-child {
  margin-top: 70px;
  padding-bottom: 25px;
}

.profil__info-block:nth-child(3) {
  margin-bottom: 20px;
}

.profil__settings-inner {
  display: flex;
  flex-direction: column;
}

.profil__set-date {
  margin-right: 25px;
  font-size: 12px;
  color: grey;
}

.profil__set-email {
  display: flex;
}

.profil__email-img {
  width: 20px;
  margin-right: 4px;
}

.profil__email-text {
  font-size: 14px;
  color: grey;
}

.profil__button {
  margin-right: 10px;
  border: none;
  height: 25px;
  width: 170px;
  border-radius: 7px;
  background-color: #FFAF00;
  color: #fff;
}

.profil__button-text {
  color: grey;
}

.profil__logo-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.profil__title-inner {
  display: flex;
}

.profil__title-img {
  margin-right: 5px;
  width: 20px;
}

.profil__title-img img polygon {
  fill: #FF006D;
}

.form__title {
  font-weight: 700;
  color: grey;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 25px;
}

.form__inner {
  display: block;
}

.form__inner:nth-child(4) {
  margin-bottom: 30px;
}

.form .form__inner + .form__inner {
  margin-top: 15px;
}

.form__input-title {
  color: grey;
  line-height: 1;
  font-weight: 400;
}

.form__text-input {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
}

.form__ques {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid lightgrey;
  margin-right: 10px;
}

.form__ques-text {
  font-size: 12px;
  color: grey;
}

.form__button {
  width: 250px;
  margin: 0 auto;
  font-size: 20px;
  border: none;
  background-color: #FFAF00;
  color: #fff;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}

.form__button-inner {
  display: flex;
  justify-content: center;
}

.question__text {
  color: grey;
  margin-bottom: 20px;
}

.question__button-inner {
  display: flex;
  justify-content: space-between;
}

.question__button-yes {
  background-color: #FFAF00;
}

.question__button-no {
  background-color: #A86E63;
}

.question__button-yes,
.question__button-no {
  width: 160px;
  height: 50px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

.pin__pas-inp[type="number"]::-webkit-outer-spin-button,
.pin__pas-inp[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.pin__title {
  text-align: center;
  margin-bottom: 10px;
}

.pin__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.pin__pas-inp {
  width: 80px;
  height: 80px;
  font-size: 40px;
  text-align: center;
}

.pin__number-inner {
  display: grid;
  margin: 0 auto;
  max-width: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 25px;
}

.pin__number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-color: #F8F8F6;
  border-radius: 22px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
}

.pin__number-cont {
  font-size: 30px;
  font-weight: 600;
}

.pin__del {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pin__del-img {
  max-width: 20px;
}

.discont {
  padding-top: 50px;
  width: 100%;
}

.discont__banner {
  margin-bottom: 15px;
  width: 100%;
}

.discont__logo-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.discont__logo {
  position: static;
  opacity: 1;
  width: 100%;
}

@media (max-width: 450px) {
  .stemplen__container {
    padding: 0 5px;
  }
}

@media (max-width: 410px) {
  .pin__pas-inp {
    width: 65px;
    height: 65px;
  }
}
/*# sourceMappingURL=stemplen.css.map */
