<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/next.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h2 class="main-title">Информация</h2>
  </div>
  <div class="background">
    <div class="container">
    <div class="background2">
      <h3 class="sub-title">Описание карты</h3>
      <p class="text">Это будет отображаться в верхней части вашей карты<br> Apple Wallet и на вашей странице регистрации
      </p>
      <div class="input-text">
        <input class="card-input" type="text" placeholder="Например: собирайте штамы для получения наград">
      </div>
    </div>
    <div class="background2">
      <h3 class="sub-title">Как клиенту получить штамп</h3>
      <p class="text">Примеры: купите кофе стоимостью от 150 рублей, чтобы получить штамп;<br> получите 1 штамп за каждый кофе, который вы покупаете
      </p>
      <div class="input-text">
        <input class="card-input" type="text" placeholder="Например: купите кофе стоимостью от 150 рублей">
      </div>
    </div>
    <div class="background2">
    <h2 class="main-title2">Детали вознаграждения</h2>
      <h3 class="sub-title">Описание награды</h3>
      <p class="text">Опишите награду. (например, вы получите бесплатный кофе)<br> после получения 8 штампов; 4 штампа = 10% скидка
      </p>
      <div class="input-text">
        <input class="card-input" type="text" placeholder="Введите описание награды">
      </div>
    </div>
    <h2 class="main-title3">Условия использования</h2>
    <p class="text">Опишите награду. (например, вы получите бесплатный кофе)<br> после получения 8 штампов; 4 штампа = 10% скидка
    </p>
    <div class="input-text2">
      <textarea class="card-input2" type="text" placeholder="Условия использования"></textarea>
    </div>
    <div class="form__botton-inner">
      <div class="form__button">
        <a href="index.html" class="form__but">Назад</a>
      </div>
      <div class="form__button">
        <a href="next.html" class="form__but">Следующий шаг</a>
      </div>
    </div>
    </div>
  </div>
</body>
</html>